body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.formationCardImg {
  max-height: 180px;
  margin-top: 10px;
}

.lastCard {
  padding-bottom: 50px;
}

.container-home {
  max-width: 55%;
  align-items: center;
}

li {
	margin: 0;
	padding: 10px 0 10px 54px;
	list-style: none;
	background-image: url("./assets/tick.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 40px;
}

p {
  text-align: justify;
}

.image-fluid {
  height: 200%;
}